body {
  margin: 20px;
  background-color: rgb(185, 121, 0);
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  background-color: rgb(185, 121, 0);
  padding: 10px 0 0 10px;
  border-left: 8px solid rgb(255, 212, 131);
  margin-left: 8px;
  display: inline-block;
  width: 75%;
  background-image: linear-gradient(to right, rgba(151, 98, 0, 0), rgba(151, 98, 0, 1));
}

.button {
  text-align: center;
  width: 100px;
  position: sticky;
  top: 20px;
  margin: 0;
}

.content {
  box-sizing: border-box;
  width: 1000px;
  margin: 20px auto 0;
  background-color: rgb(151, 98, 0);
  padding: 8px;
  box-shadow: 0 0 10px 5px rgb(151, 98, 0);
}

p {
  font-size: 1.2rem;
  color: rgb(255, 212, 131);
}

li {
  font-size: 1.2rem;
  color: rgb(255, 212, 131);
}

img {
  box-sizing: border-box;
  border: 8px solid rgb(185, 121, 0);
  max-width: 100%;
}

.siberian-image-1 {
  float: right;
  margin: 20px 0 0 20px;
  position: relative;
  bottom: 30px;
}

.siberian-image-2 {
  float: left;
  margin: 0 20px 0 0;
}

.siberian-map {
  margin-top: 20px;
  max-width: 570px;
}

.map-desc {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 0;
  font-style: italic;
}

.p-bold {
  font-weight: bold;
}






@media (max-width: 1064px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 880px) {
  .siberian-image-1, .siberian-image-2, .siberian-map {
    float: none;
    clear: both;
    margin: 40px auto 0 auto;
    display: block;
  }

  .button {
    display: none;
  }
}